:root {
    --skin: #f6c09c;
    --background: #ed4042;
    --red: #ed2860;
    --dark-red: #680524;
    --black: #00243a;
    --white: #fff;
  }

  body {
    margin: 0;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .head {
    width: 100px;
    height: 200px;
    background-color: var(--skin);
    border-radius: 50px;
    position: relative;
  }
  .cuello{
    width: 55px;
    height: 40px;
    background-color: var(--skin);
    opacity: 0.6;
    position: absolute;
    left: 23px;
    top: 180px;
}

  .eye-left {
    width: 20px;
    height: 20px;
    background-color: var(--white);
    position: absolute;
    top: 60px;
    border-radius: 50%;
    left: 30px;
  }
  .eye-right {
    width: 20px;
    height: 20px;
    background-color: var(--white);
    position: absolute;
    top: 60px;
    border-radius: 50%;
    left: 52px;
  }
  .cejas {
    width: 100%;
    height: 10px;
    background-color: var(--dark-red);
    position: absolute;
    top: 54px;
}
.nariz {
    width: 25px;
    height: 25px;
    background-color: var(--white);
    position: absolute;
    border-radius: 15px;
    top: 80px;
    left: 40px;
  }

  .barba {
    width: 100px;
    height: 108px;
    background-color: var(--black);
    position: absolute;
    top: 90px;
    border-radius: 30px;
  }
  
 
  .smail {
    width: 45px;
    height: 28px;
    background-color: var(--red);
    position: absolute;
    border-radius: 20px;
    left: 28px;
    top: 110px;

  }

  .dientes {
    width: 30px;
    height: 8px;
    background-color: var(--white);
    position: absolute;
    left: 28px;
    top: 115px;
  }
  .black {
    width: 50px;
    height: 8px;
    background-color: var(--black);
    position: absolute;
    left: 25px;
    top: 109px;
  }
  .ear-left {
    width: 15px;
    height: 15px;
    background-color: var(--skin);
    position: absolute;
    border-radius: 20px;
    left: -10px;
    top: 80px;
  }
  .ear-right {
    width: 15px;
    height: 15px;
    background-color: var(--skin);
    position: absolute;
    border-radius: 20px;
    left: 94px;
    top: 80px;
  }
  .point-eye-left{
    width: 5px;
    height: 5px;
    background-color: var(--black);
    position: absolute;
    border-radius: 20px;
    left: 38px;
    top: 68px;
}
.point-eye-right{
    width: 5px;
    height: 5px;
    background-color: var(--black);
    position: absolute;
    border-radius: 20px;
    left: 60px;
    top: 68px;
}
